html,
body {
  background-color: var(--primary-background);
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100%;
  padding-top: 0rem !important;
  margin: auto;
  --highlights-background: #e1a8b7;
  --primary-background: #fcfcfc;
  --highlights-background-hover: #c48b99;
  --accent-background: #f3d7ca;
  --secondary-background: #fff8e3;
}
