html,
body {
  background-color: var(--primary-background);
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
  --highlights-background: #e6a4b4;
  --primary-background: #f5eee6;
  --highlights-background-hover: #c48b99;
  --accent-background: #F3D7CA;
  --secondary-background: #FFF8E3;
}
